<%= form_for(@user, :role =>"form") do |f|  %>
  <% if @user %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h3><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <div class="field">
      <%= f.label :user_name %><br>
      <%= f.text_field :user_name, :class => "form-control" %>
    </div>
  </div>
<DIV class="form-group">
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, :class => "form-control" %>
    </div>
</DIV>
<div class="form-group">
  <div class="field">
    <%= f.label :email_confirmation %><br>
    <%= f.text_field :email_confirmation, :class => "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, :class => "form-control" %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit value='Save', :class => "btn btn-default"%>
  </div>
<% end %>
